<%= form_for @hero do |g| %>
 
  <% if @hero.errors.any? %>
    <div id="error_explanation">
      <h3>
        <%= pluralize(@hero.errors.count, "error") %> prohibited
        this hero from being saved:
      </h3>
      <ul>
        <% @hero.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= g.label :name %><br>
    <%= g.text_field :name %>
  </p>
  
  <p>
    <%= g.label :bio %><br>
    <%= g.text_field :bio %>
  </p>
  
  <p>
    <%= g.submit %>
  </p>
 
<% end %>