<h2>Listing Reports</h2>


<div style='width: 800px;'> 
    <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
    });
</script>
  
  
<button class="button button3"><%= link_to 'New Report', new_report_path %></button>

<table>
  <tr>
    <th>Title</th>
    <th>Location</th>
    <th>Description</th>
    <th>Email</th>
  </tr>
 
  <% @reports.each do |report| %>
    <tr>
      <td><%= report.title %></td>
      <td><%= report.location %></td>
      <td><%= report.desc %></td>
      <td><%= report.email %></td>
      <td><%= link_to 'Show', report_path(report) %></td>
      <td><%= link_to 'Edit', edit_report_path(report) %></td>
      <td><%= link_to 'Destroy', 
                        report_path(report),
                        method: :delete,
                        data: { confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>