<h1>Listing reports</h1>
<%= link_to 'New report', new_report_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Perpatrator</th>
    <th>Location</th>
    <th>Description</th>
    <th>Email</th>
  </tr>
 
  <% @reports.each do |report| %>
    <tr>
      <td><%= report.title %></td>
      <td><%= report.perpatrator %></td>
      <td><%= report.location %></td>
      <td><%= report.desc %></td>
      <td><%= report.email %></td>
      <td><%= link_to 'Show', report_path(report) %></td>
      <td><%= link_to 'Edit', edit_report_path(report) %></td>
      <td><%= link_to 'Destroy',
                        report_path(report),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>