<h2 style = 'display:inline;'>Listing Reports</h2>
<h3 style = 'display:inline; margin-left:30px;'>  <%= link_to "Testimonials", testimonials_path() %> </h3>
<h4 style = 'display:inline; margin-left:20px;'>  <%= link_to "Heroes", heroes_path() %> </h3>

<div style='width: 800px;'> 
    <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google'), { disableDefaultUI: true };
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>

<div style="text-align:center;">
<button class = "button button3" onclick="location.href='/reports/new'">New Report</button>
</div>

<table>
  <tr>
    <th>Title</th>
    <th>Location</th>
    <th>Description</th>
    <th>Email</th>
    <th>Controls</th>
  </tr>
 
  <% @reports.each do |report| %>
    <tr>
      <td><%= report.title %></td>
      <td><%= report.location %></td>
      <td><%= report.desc %></td>
      <td><%= report.email %></td>
      <td><%= link_to 'Show', report_path(report) %></td>
     
    </tr>
  <% end %>
</table>