<p>
    <strong>Title:</strong>
    <%= @report.title %>
</p> 

<p>
    <strong>Location:</strong>
    <%= @report.location %>
</p> 
<p>
    <strong>Description:</strong>
    <%= @report.desc %>
</p>
<p>
    <strong>Email:</strong>
    <%= @report.email %>
</p>
<%= link_to 'Report List', reports_path %>